<div class="topsection">
  <div class="top_image">
    <div class="top_title">
      <h1 class="top_heading h3">教育ローン金利はもっと下がる<br>あなたらしい生活を！</h1>
      <h2 class="top_subheading h4">○○はユーザーの属性に合わせて金融期間から教育ローンの<br>優遇金利の提案を受けることができるサイトです。</h2>
      <%= link_to "お申し込み", main_index_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>

<div class="intro">
  <div class="row">
    <div class="col-sm-6">
      <img src="/assets/money.jpg" class="img-responsive">
    </div>
    <div class="col-sm-6">
      <h2 class="h3">よりよい金利優遇の仕組みを</h2>      <p>○○ではあなたの現在の状況を入力するだけで提携先金融機関から、現在の金利よりも低いレートの教育ローンの提案を受けることができます。より詳しくご自身の状況を入力することで、優遇金利を受けやすくなります。</p>
    </div>
  </div>
</div>
<div class="why_our_sites">
  <h2 class="h3">Lendyができること</h2>
  <div class="icons row">
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-user" aria-hidden="true">あなた</span>
      <p>あなたの経歴に応じて優遇金利を受けることができます。</p>
    </div>
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-phone" aria-hidden="true">モバイルから簡単に</span>
      <p>○○はモバイルから簡単にアクセスすることができます。</p>
    </div>
    
  </div>
  <div class="icons row">
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true">簡単入力</span>
      <p>経歴の入力はweb上で簡単に完結します。</p>
    </div>
    <div class="col-xs-6">
      <span class="glyphicon glyphicon-ok" aria-hidden="true">平均10万円の節約！</span>
      <p>○○を使うことで平均10万円程度の節約につながります。</p>
    </div>
    
  </div>
</div>
<div class="news_articles">
  <h2 class="h3">News</h2>
  <div class="row">
    <div class="col-sm-4">
      2016.2.28<br>
      日本経済新聞に取り上げていただきました
    </div>
    <div class="col-sm-4">
      2016.2.27<br>
      ○○β版をローンチいたしました。
    </div>
    <div class="col-sm-4">
      2016.2.26<br>
      ヒアリングとして100人の学生にアンケートを取りました。
    </div>
  </div>
</div>
<div class="how_to_apply">
  <h2 class="h3">ご利用方法</h2>
  <p class="lead">ご利用は簡単4ステップ！</p>
  <div class="row">
    <div class="col-sm-3">
      <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
      <h3 class="h5">1.ご登録</h3>
      <p>メールアドレスとパスワードの入力を行いご登録をお願いします。</p>
    </div>
    <div class="col-sm-3">
      <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
      <h3 class="h5">2.必要情報の入力</h3>
      <p>勤務実績、借り入れ内容などフォーマットに必要事項をご入力ください。</p>
    </div>
    <div class="col-sm-3">
      <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
      <h3 class="h5">3.オファーの受け取り</h3>
      <p>ご登録いただいた内容を元に提携金融機関が審査を行い、オファーを受け取ります。</p>
    </div>
    <div class="col-sm-3">
      <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
      <h3 class="h5">4.ご契約</h3>
      <p>オファーをいただいた中からご契約したい金融機関をお選びください。</p>
    </div>
  </div>
</div>
<div class="blog_articles">
  <h2 class="h3">ブログ一覧</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
        <div class="caption">
          <h3 class="h5">猫もびっくりするレート</h3>
          <p>猫もびっくりの優遇金利で最大30万円節約することができます。</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
        <div class="caption">
          <h3 class="h5">猫もびっくりするレート</h3>
          <p>猫もびっくりの優遇金利で最大30万円節約することができます。</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://bootflat.github.io/img/thumbnail-1.jpg" class="img-thumbnail">
        <div class="caption">
          <h3 class="h5">猫もびっくりするレート</h3>
          <p>猫もびっくりの優遇金利で最大30万円節約することができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
