body {
  padding-top: 60px;
}

.top_image  {
  text-align: center;
  padding: 50px;
  max-width: 100%;
  background-image: url("/assets/sofi_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top_image h1 {
  color: white;
}

.top_image h2 {
  color: white;
}

.intro {
  text-align: center;
  padding: 50px;
}

.intro p {
  font-size: 20px;
}


.why_our_sites {
  background-color: #ededed;
  text-align: center;
  padding: 30px;
}

.why_our_sites .icons {
  font-size: 18px;
}

.news_articles {
  text-align: center;
  padding: 15px;
}

.how_to_apply {
  text-align: center;
  padding: 30px;
}

.blog_articles {
  text-align: center;
  padding: 30px;
}